<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.day10_assignment_v1">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_plane"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".login.LoginActivity" />
        <activity android:name=".supplier.SupplierEditActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".supplier.SupplierDetailActivity" />
        </activity>
        <activity android:name=".supplier.SupplierNewActivity" />
        <activity android:name=".supplier.SupplierDetailActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".product.ProductSuppliersListActivity" />
        </activity>
        <activity android:name=".product.ProductEditActivity" />
        <activity android:name=".product.ProductNewActivity" />
        <activity android:name=".product.ProductListActivity" />
        <activity android:name=".product.ProductSuppliersListActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".product.ProductListActivity" />
        </activity>
        <activity android:name=".booking.BookingDetailActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".booking.BookingDetailActivity" />
        </activity>
        <activity android:name=".booking.BookingListActivity" />
        <activity android:name=".agent.AgentListActivity" />
        <activity android:name=".agent.AgentEditActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".booking.BookingDetailActivity" />
        </activity>
        <activity android:name=".agent.AddAgentActivity" />
        <activity android:name=".agent.AgentDetailActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".agent.AgentListActivity" />
        </activity>
        <activity android:name=".customer.CustomerListActivity" />
        <activity android:name=".customer.CustomerEditActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".customer.CustomerDetailActivity" />
        </activity>
        <activity android:name=".customer.CustomerDetailActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".customer.CustomerListActivity" />
        </activity>
        <activity android:name=".customer.CustomerNewActivity" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>